In [9]:
import pandas as pd
import numpy as np

dates = pd.date_range('20161010', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])

df.iloc[2,2] = 1111
df.loc['20161011', 'D'] = 2222
df

             A   B     C     D
2016-10-10   0   1     2     3
2016-10-11   4   5     6  2222
2016-10-12   8   9  1111    11
2016-10-13  12  13    14    15
2016-10-14  16  17    18    19
2016-10-15  20  21    22    23

In [14]:
df['E'] = np.nan
df['G'] = pd.Series([1,2,3,4,5,6],index=pd.date_range('20161010', periods=6))
df

             A   B     C     D   E  G
2016-10-10   0   1     2     3 NaN  1
2016-10-11   4   5     6  2222 NaN  2
2016-10-12   8   9  1111    11 NaN  3
2016-10-13  12  13    14    15 NaN  4
2016-10-14  16  17    18    19 NaN  5
2016-10-15  20  21    22    23 NaN  6